.container {
    max-width: 300px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.card-header h3 {
    font-size: 24px;
}

.form-group label {
    font-weight: bold;
}

.form-control {
    width: 100%;
    border-radius: 4px;
    height: 36px;
    font-size: 14px;
}

.btn-primary {
    width: 100%;
    padding: 8px;
    border-radius: 4px;
    font-size: 14px;
}

.mt-3 {
    margin-top: 1rem;
}

.text-right.mb-3 a {
    color: #007bff;
    text-decoration: none;
}

.text-right.mb-3 a:hover {
    text-decoration: underline;
}

.text-center.mt-3 p {
    margin-bottom: 0;
}

.text-center.mt-3 a {
    color: #007bff;
    text-decoration: none;
}

.text-center.mt-3 a:hover {
    text-decoration: underline;
}
